<mat-toolbar class="header">
  <mat-toolbar-row class="header-bar">
    <h2 id="my-name">Adrian Silva</h2>
    <span class="spacer"></span>
    <span
      id="idade"
      matTooltip="Experiência para o próximo nível: 80/100"
      matTooltipPosition="left"
      >
      20
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav>
      <ul>
        <li>
          <a href="#about-me">Sobre Mim</a>
        </li>
        <li>
          <a href="#projects">Portfólio</a>
        </li>
        <li>
          <a href="#social">Social</a>
        </li>
        <li>
          <a href="#contact">Entre em Contato</a>
        </li>
      </ul>
  </nav>
  </mat-toolbar-row>
</mat-toolbar>
