section {
  height: 80vh;

  article {
    width: 80vw;
    margin: 0 auto;

    &.image {
      margin-top: 50px;
      width: 50%;

      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
        width: 100%;
        filter: brightness(1);
      }
    }
    &.description {
      width: 50%;

      h2 {
        margin-top: 10px;
        color: #fff;

        span {
          text-decoration: underline;
        }
      }
      p {
        text-align: justify;
        color: #fff;
      }
    }
  }

}

@media only screen and (max-width: 480px) {
  article {
    width: 80vw !important;

    &.image {
      img {
        border-radius: 0 !important;
        filter: drop-shadow(0 0 0) !important;
      }
    }
  }
}
