.background {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #52b69a;
  border: 2px solid #fff;
  padding: 0 15px;

  .projects {
    width: 20vw;
    height: 35vh;
    background-color:#fff;
    border-radius: 10px;
    filter: blur(2);
    transition: .2s ease-in;
    margin: 15px 0;

    &:hover {
      filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.5));
    }

    a {
      text-decoration: none;
      color: #000;
      transition: .2s ease-in-out;

      &:hover, :active {
        color: #52b69a;
      }

      h2 {
        padding: 10px 0 0 10px;
      }

      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        margin-top: 10px;
      }

      p {
        padding: 0 10px 10px 10px;
        text-align: center;
        font-family: sans-serif;

        .text-concat {
          overflow:hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          word-wrap:break-word;
          line-height:1.2;
          max-height:3.6rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .background {
    width: 100%;
    padding: 15px 0;
    justify-content: space-evenly;
    border-radius: 0;

    .projects {
      width: 45vw;
      margin: 5px 0;
    }
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1025px) {
  .background {
    width: 65%;
  }
}
