<mat-toolbar class="header">
  <mat-toolbar-row class="header-bar">
    <a routerLinke="/"><h2 id="my-name">Adrian Silva</h2></a>
    <span class="spacer"></span>
    <span
      id="idade"
      matTooltip="Experiência para o próximo nível: 90/100"
      matTooltipPosition="left"
      >
      20
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav>
      <ul>
        <li>
          <a [routerLink]="'/about-me'">Sobre Mim</a>
        </li>
        <li>
          <a [routerLink]="'/projects'">Portfólio</a>
        </li>
        <li>
          <a href="#social">Social</a>
        </li>
        <li>
          <a href="#contact">Entre em Contato</a>
        </li>
      </ul>
  </nav>
  </mat-toolbar-row>
</mat-toolbar>
