<mat-toolbar class="header">
  <mat-toolbar-row class="header-bar">
    <a routerLinke="/"><h2 id="my-name">Adrian Silva</h2></a>
    <span class="spacer"></span>
    <span
      id="idade"
      matTooltip="Experiência para o próximo nível: 90/100"
      matTooltipPosition="left"
      >
      20
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav class="menu">
      <ul>
        <li>
          <a [routerLink]="'/about-me'">Sobre Mim</a>
        </li>
        <li>
          <a [routerLink]="'/projects'">Portfólio</a>
        </li>
        <li>
          <a href="#social">Social</a>
        </li>
        <li>
          <a href="#contact">Entre em Contato</a>
        </li>
      </ul>
  </nav>
  <button mat-button class="menu-mobile" [matMenuTriggerFor]="menu">
    <mat-icon class="mat-18">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
      </svg>
    </mat-icon>

  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/about-me'">Sobre Mim</button>
    <button mat-menu-item [routerLink]="'/projects'">Portfólio</button>
    <button mat-menu-item><a href="#social">Social</a></button>
    <button mat-menu-item><a href="#contact">Entre em Contato</a></button>
  </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
