<section>
  <article class="me">
    <h1>Adrian <span class="colorir">Silva</span> do <span class="colorir">Nascimento</span></h1>
    <h2>Programador Web Full-Stack</h2>
    <ul>
      <li>
        <a href="">
          <img src="../../../../assets/images/github.png" alt="Github Icon">
          Github
        </a>
      </li>
      <li>
        <a href="">
          <img src="../../../../assets/images/linkedin.png" alt="LinkedIn Icon">
          LinkedIn
        </a>
      </li>
      <li>
        <a href="">
          <img src="../../../../assets/images/whatsapp.webp" alt="Whatsapp Icon">
          Whatsapp
        </a>
      </li>
    </ul>
  </article>
  <article class="my-image">
    <img src="../../../../assets/images/adrian.png" alt="Foto de Adrian">
  </article>
</section>
