<section id="contact">
  <mat-card>
    <form>
      <mat-form-field class="inputs" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" placeholder="Nome">
      </mat-form-field>
      <mat-form-field class="inputs" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field class="inputs" appearance="outline">
        <mat-label>Assunto</mat-label>
        <input matInput type="text" placeholder="Assunto">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput placeholder="Descrição"></textarea>
      </mat-form-field>
      <button mat-raised-button>
        Enviar
      </button>
    </form>
  </mat-card>
</section>
