section {
  mat-card {
    width: 50%;
    margin: 0 auto;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header-card {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      mat-form-field {
        width: 100%;
        textarea {
          resize: none;
        }

      }
      button {
        width: 5vw;
        align-self: flex-end;
        background-color: #52b69a;
        color: #F1FAEE;
      }
    }
  }
}

@media only screen and (min-width: 412px) and (max-width: 480px) {
  section {
    mat-card {
      width: 80%;
    }
    form {
      .header-card {
        flex-direction: column;
      }
      button {
        width: 10vw;
      }
    }
  }
}
